// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.cta {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.cta a {
    border: 1px solid gold;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}